# Auto detect text files and perform LF normalization
* text=auto
*.sh text eol=lf

# Ignorar arquivos par exportação de reps.
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
LICENSE export-ignore
